.post {
  background-color: var(--darker);
  width: 90vw;
  margin: 0 auto 1em auto;
  border-radius: 8px;
  box-shadow: 8px 8px 3px var(--shadow);
}

.post-img {
  width: 90vw;
  border-radius: 8px 8px 0 0;
}

.post-title {
  color: var(--yellow);
}

.post-desc {
  padding: 0 1em;
}

.post-like-btn {
  color: var(--light-blue);
  background-color: var(--darker);
  border: 2px solid var(--light-blue);
  margin-bottom: 1.5em;
}

.post-like-btn:hover, .post-like-btn:focus {
  color: var(--darker);
  background-color: var(--light-blue);
}